<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href={{ url_for('static', filename='style.css') }}/>
  </head>
  <body>
    <h2>發表一篇圖文</h2>
    <div id="message">文字內容<input type="text" id="comment" /></div>
    <div id="file">
      圖片檔案<input type="file" id="selectFile" accept="image/*" />
    </div>
    <button id="postBtn" type="button">送出</button>
    <hr />
    <div id="board"></div>
    <script type="text/javascript" src="../static/index.js"></script>
  </body>
</html>
